.dashboard-content {
    /* margin-left: 230px; /* make space for the sidebar */
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 25cm;
    text-align: center;
}

body, html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color:azure;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    margin-left: 230px;
    margin-top: 20px;
}


.chart-container {
    display: flex;
    /* margin-left: 230px; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    max-width: 800px;
    padding: 20px 0;
}

.title {
    font-family:  "Press Start 2P", serif;
    font-style: normal;
    font-size: 40px;
    color: #4caaf2;
    margin-left: 230px;
    /* margin-top: 500px; /* title keeps going off screen idk.. */
    padding: 20px 0;
    /* padding-top: 150px; */
    text-align: center;
}

.stats-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 230px;
    padding: 20px 0;
}

.card_title{
    font-family:  "Press Start 2P", serif;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

.stat-item {
    background-color: #a6d9ff;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.badge-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
}

.badge.unlocked {
    opacity: 1;
}

.badge-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
}

.card {
    background: #a6d8ff44;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin: 20px;
    width: 100%;
    max-width: 800px;
    margin-left: 230px;
}

