body {
    width: 250px;
    min-height: 350px; /* Allow the height to grow dynamically */
    background-color: #121A27;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding doesn't affect the border */
}

.logo img {
    max-width: 100%;
    height: auto;
}

.banner {
    display: flex;
    column-gap: 15px;
}

.logo {
    height: 10%;
    width: 30%;
    margin-left: 7px;
}

.name {
    width: 100%;
}

.buttonContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0px;
    gap: 8px;
}

#projectName {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    font-weight: bold;
}

#debugButton {
    background-color: #FF6347; /* Red for Debug button */
}

#debugButton:hover {
    background-color: #FF4500; /* Slightly darker red on hover */
}

#complexityButton {
    background-color: #4682B4; /* Blue for Complexity button */
}

#complexityButton:hover {
    background-color: #4169E1; /* Slightly darker blue on hover */
}


.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.btn:hover {
    background-color: #45a049;
}
/* Style for the most recent message */
.most-recent {
    font-weight: bold; /* Make the most recent message bold */
    margin-top: 1px;
    margin-bottom: 0px;
}


#messageContainer {
    font-weight: normal; /* Ensure older messages are not bold */

    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
    width: 100%; /* Ensure the message container spans the full width */
    box-sizing: border-box; /* Include padding within the width */
}
.divider {
    border: none; /* Remove default border */
    border-top: 2px solid white; /* Add a white horizontal line */
    margin: 1px 0; /* Add spacing above and below the line */
    width: 100%; /* Make it span the full width of the container */
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

.highlight-hint {
    background-color: #4CAF50; /* Green */
    color: black;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 0px;
}

/* Highlight effect for Debug button */
.highlight-debug {
    background-color: #FF6347; /* Red */
    color: black;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 0px;
}

/* Highlight effect for Complexity button */
.highlight-complexity {
    background-color: #4682B4; /* Blue */
    color: black;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 0px;
}

.hidden {
    display: none;
}

.login-form input {
    width: 94%;
    padding: 7px; 
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 7px;
    
}
.login-form button {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 7px;
}
.login-form button:hover {
    background-color: #45a049;
}

.userIcon {
    cursor: pointer;
    height: 10%;
    width: 28%;
    padding-right: 7px;
    margin-top: 3px;
}

.userIcon img {
    max-width: 100%;
    height: auto;
    border-radius:50%
}

#loginText {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.back-button {
    position: absolute;
    left: 7px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
}