body {
    width: 250px;
    height: 350px;
    background-color: #121A27;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 5px;
    border: 2px solid gray;
    position: relative;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.banner {
    display: flex;
    column-gap: 15px;
}

.logo {
    height: 10%;
    width: 33%;
    margin-left: 7px;
}

.hintButton {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
}

.container {
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

#messageContainer {
    margin-top: 20px;
    font-size: 14px;
}

